<!doctype html>
<html lang="en" ng-app="TimeTrackerApp">
<head>
    <meta charset="UTF-8">
    <meta name="theme-color" content="#039be5">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Time tracker by Pavel Shirobok</title>
    <link rel="stylesheet" href="css/lib_styles.css"/>
    <link rel="stylesheet" href="css/app_styles.css"/>
</head>
<body ng-controller="AppController">

    <div class="column" layout-fill>
        <md-tabs class="project-tabs" md-selected="selectedIndex">
            <md-tab ng-repeat="prj in projects" label="{{prj.name}}">
                <tt-project project="prj"></tt-project>
            </md-tab>
        </md-tabs>

        <md-button
                ng-click="openMenu($event)"
                class="md-fab md-primary add-project-button"
                aria-label="Profile"

                >
            <md-icon icon="/img/icons/menu.svg" style="width: 44px; height: 51px; line-height: 65px; opacity: 0.5;"></md-icon>
        </md-button>
    </div>

    <script src="js/lib.js"></script>
    <script src="js/app.js"></script>
</body>
</html>